{% extends '@App/restaurant/layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path(restaurants_route) }}">{% trans %}adminDashboard.restaurants.title{% endtrans %}</a></li>
  <li><a href="{{ path(restaurant_route, { id: restaurant.id }) }}">{{ restaurant.name }}</a></li>
  {# <li><a href="{{ path(products_route, { id: restaurant.id }) }}">{{ 'restaurant.list.products'|trans }}</a></li>
  <li>{{ product.name }}</li> #}
{% endblock %}

{% block content %}

<div class="text-right mb-4">
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus mr-2"></i>{{ 'basics.add'|trans }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <a href="{{ path(promotion_new_route, { id: restaurant.id, type: 'offer_delivery' }) }}">
          {{ 'restaurant_promotion.offer_delivery'|trans }}
        </a>
      </li>
    </ul>
  </div>
</div>

<table class="table">
  <thead>
    <th>{{ 'basics.name'|trans }}</th>
    <th>{{ 'promotion.coupon_code'|trans }}</th>
  </thead>
  <tbody>
    {% for promotion in promotions %}
    <tr>
      <td>{{ promotion.name }}</td>
      <td>
        {% if promotion.isCouponBased() %}
          {% for coupon in promotion.coupons %}
            <span>{{ coupon.code }}</span>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{# {% block scripts %}
{{ encore_entry_script_tags('product-form') }}
{% endblock %} #}
